---
import Logo from "./logo/Logo.astro";
import InstaButton from "./icons/InstaButton.astro";
import WhastssapButton from "./icons/WhatssapButton.astro";
import TelegramButton from "./icons/TelegramButton.astro";
---

<div class="flex justify-between bg-[#151515] pt-14 pl-14 w-screen">
  <div class="flex flex-col gap-8">
    <Logo />
    <p class="text-white font-play text-[28px] font-normal">Somos el primer espacio donde puedes encontrar música 100% Salvadoreña</p>
    <p class="text-white font-play text-[20px] font-normal">¿Deseas que tu música tenga visibilidad en Torozound?</p>
    <div class="mb-14">
      <button class="bg-[#C5125C] rounded-[40px] py-2 px-5 text-[16px] font-inter ">Contáctanos</button>
    </div>
  </div>

  <div class="border-t-2 border-l-2 border-[#C5125C] rounded-tl-[128px] w-full p-14 flex gap-48">
   <div class="flex flex-col gap-4">
      <p class="text-[#C5125C] text-[12px] font-medium">DIRECCIÓN</p>
      <div>
        <p class="text-white text-[18px] font-medium font-inter">4a calle Poniente</p>
        <p class="text-white text-[18px] font-medium font-inter">San Miguel, EL Salvador</p>
      </div>
      <p class="text-white text-[12px] font-normal font-inter mt-32 opacity-60">© 2024 — Copyright</p>
   </div>
   <div class="flex flex-col gap-4">
      <p class="text-[#C5125C] text-[12px] font-medium">SIGUENOS</p>
      <div class="flex gap-2">
        <InstaButton />
        <WhastssapButton />
        <TelegramButton />
      </div>
   </div>
  </div>
</div>