---
import Logo from "./logo/Logo.astro";
import '@fontsource-variable/orbitron';

---

<header class="flex justify-between items-center">
    <Logo />  
  <nav class="flex gap-7 text-white font-bold text-[14px]">
    <a href="#">Inicio</a>
    <a href="#">Novedades</a>
    <a href="#" class="text-[#D71462]">Playlist</a>
    <a href="#">Generos</a>
    <a href="#">Albums</a>
  </nav>
</header>